<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

AddType application/javascript .jsx
AddType application/javascript .js

<IfModule mod_headers.c>
  Header set X-Powered-By "CBD Suzy"
</IfModule>
